<div class="form-group">
    <form action="admin/generate-fake-posts" method="POST">
        <h2>Generate Dummy Posts</h2>
        <div class="form-group">
            <input name="amount" type="text" class="form-control" style="width: 100px">
        </div>
        <button type="submit" class="btn btn-dark btn-sm">Generate</button>
    </form>
</div>

<div class="row">
    <canvas id="myChart"></canvas>
</div>